# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/

# misc
.DS_Store
*.pem

# local env files
.env
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
.env*.local
